.about
  .l-container
    .l-row
      .capture.about__title О компании
    .l-row.about__desc
      p Сервисный центр <span class="primary">Модуль+</span> имеет собственное оборудование <br class="d-none-xl"> и склад запчастей, благодаря чему осуществляет ремонт смартфонов, планшетов и ноутбуков любой сложности в короткие сроки.