.footer
    .l-container
      .l-row
        .header__logo: img(src="/img/logo.svg" alt="")
      .l-row.footer__desc
        p Сервисный центр по ремонту телефонов, планшетов и ноутбуков  в центре Ижевска
        
      .l-row.site-info
        span Все права защищены © <span id="year">2020</span>
        a(href="mailto:info@website.ru" target="_blank" rel="nofollow").text-center info@website.ru
        span.text-right Дизайн – <a href="https://gusev.me" target="_blank" rel="nofollow">gusev.me</a>
