.process
  .l-container
    .l-row
      .process__img: img(src="/img/repair.jpg" alt="")
      .process__steps

        h2.process__title Как мы <br> работаем?

        .process__steps-item
          .process__steps-item-title Шаг 1
          p Мы обрабатываем вашу заявку, после чего принимаем неисправную технику на ремонт в одной из наших мастерских.

        .process__steps-item
          .process__steps-item-title Шаг 2
          p Пока наши специалисты занимаются устранением проблемы, вы можете <a href="#" target="_blank" rel="nofollow" class="link">отслеживать статус ремонта онлайн</a>.

        .process__steps-item
          .process__steps-item-title Шаг 3
          p Когда неисправность устранена, мы уведомляем вас, и при сдаче работы даем оффициальную гарантию на наш ремонт.