.trust
  .l-row
    img(src="/img/trust/t1.jpg")
    img(src="/img/trust/t2.jpg")
    img(src="/img/trust/t3.jpg").d-none-md
    img(src="/img/trust/t4.jpg").d-none-md
    img(src="/img/trust/t5.jpg")
    img(src="/img/trust/t6.jpg")