.why-us
  .l-container
    .l-row
      h2.why-us__title Почему нас <br> выбирают?
    
    .l-row.why-us__list
      .why-us__list-item
        .why-us__list-item-img: img(src="/img/icons/calendar.svg" alt="")
        span Работаем с 2011 года
        
      .why-us__list-item
        .why-us__list-item-img: img(src="/img/icons/storage.svg" alt="")
        span Свой склад запчастей

      .why-us__list-item
        .why-us__list-item-img: img(src="/img/icons/chip.svg" alt="")
        span Ремонт любой сложности

      .why-us__list-item
        .why-us__list-item-img: img(src="/img/icons/repair.svg" alt="")
        span Профессиональное <br> оборудование

      .why-us__list-item
        .why-us__list-item-img: img(src="/img/icons/team.svg" alt="")
        span Инженеры с опытом <br class="d-none-xl"> работы от 5 лет

      .why-us__list-item
        .why-us__list-item-img: img(src="/img/icons/money.svg" alt="")
        span Честные цены
